Add two matrices.py
.idea/
Asit_ex.txt
Calculator.py
Capitalize string.py
Debendra_ex.txt
Factorial.py
Fibonacci number.py
Find max of 3.py
Flag.py
Fulty calculator.py
Guess the number.py
Healthy programmer.py
Indivisual alphabet.py
Leap year.py
Login page.py
Number formatting.py
Otp generater.py
Palindrom.py
Prime number .py
Reverse a number.py
Smallest and greatest number.py
Star formatting..py
Swap two number.py
harry_ex.txt
harry_food.txt